/* color guide
 - light blue: #446cb3
 - blue:       #224a91
 - dark blue:  #113980
 - near white: #f7efed
 - white-grey: #ded2cf
 - light grey: #aca1a1
 - dark grey:  #26282c
*/

/* general styles */
body, html {
  height: 100%;
  font-size: 16px;
}
a:not(.imgLink):hover, a:not(.imgLink).active {
  background-color: #ded2cf;
  text-decoration: none;
  box-shadow: 0.25em 0.25em 0 #aca1a1;
}

/* general classes */
.mobile {
  display: none !important;
}
.desktop {
  display: initial !important;
}

/* main.handlebars layout details */
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* sidebar styles */
#authorList {
  display: block;
  flex-shrink: 1;
}
#postList > div {
  margin: 0.25em 0;
}
#postList > div > a {
  text-decoration: none;
}
#postList {
  display: block;
  flex-shrink: 1;
}
#searchHint {
  height: 0;
  overflow: hidden;
  text-align: right;
  transition: height 0.5s;
}
#sidebarSearchInput:focus ~ #searchHint {
  height: 2em;
}
#sidebar {
  flex-wrap: nowrap;
  flex-basis: 15em;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  position: static;
  padding: 1em;
}
#sidebar > * {
  margin: 0.5em 1em;
}
#sidebarSearchIcon {
  display: block;
  color: #aca1a1;
  position: relative;
  left: calc(100% - 1.5em);
  top: -2em;
  margin-bottom: -1em;
  font-family: fontawesome;
  transition: color 0.5s;
}
#sidebarSearchInput:focus ~ #sidebarSearchIcon {
  color: #f7efed;
}
#sidebarSearchInput {
  outline: none;
  background-color: transparent;
  padding: 0.25em 2em 0.25em 0.5em;
  border-radius: 0.25em;
  color: #f7efed;
  margin-bottom: 0.5em;
  width: 100%;
  border: 1px solid #aca1a1;
  transition: border-color 0.5s;
}
#sidebarSearchInput:focus {
  border: 1px solid #f7efed;
}
#sidebarSearchInput::-webkit-input-placeholder { color: #aca1a1; }
#sidebarSearchInput::-moz-placeholder { opacity: 1; color: #aca1a1; }
#sidebarSearchInput::-ms-placeholder { color: #aca1a1; }
#sidebar a:not(.imgLink):hover, #sidebar a:not(.imgLink):active {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
}
#title {
  line-height: initial;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 0 1em;
  width: 100%;
  height: auto;
  text-align: left;
}
#titleBar {
  margin-top: -1em;
  margin-left: -1em;
  padding: 1em 0 0 0;
  width: calc(100% + 2em);
  display: block;
}
#titleBreak {
  display: block;
}
#titleDescription {
  text-decoration: none !important;
  font-weight: normal;
  display: block;
  padding-top: 1em;
  font-size: 0.5em;
}
#title:hover #titleTitle {
  text-decoration: underline;
}
/* main content div styles */
#content {
  margin-top: 0;
  padding: 1em 4em;
}

/* other template styles */
#authorHeader {
  width: calc(100% + 8em);
  margin: -1em 0 0 -4em;
}
.postView {
  flex-basis: 90%;
  margin: 1em 1em;
}
#search {
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
}
#searchBar {
  flex: 1 1 60%;
  padding: 0.67em 0.67em 0.67em 2.5em;
  border-radius: 0.125em 0 0 0.125em;
}
#searchIcon {
  left: calc(5% + 0.5em);
}
#searchType {
  flex: 1;
  border-radius: 0 0.125em 0.125em 0;
  border-left: none;
}
