/* color guide
 - light blue: #446cb3
 - blue:       #224a91
 - dark blue:  #113980
 - near white: #f7efed
 - white-grey: #ded2cf
 - light grey: #aca1a1
 - dark grey:  #26282c
*/

/* general styles */
@media(max-width: 499px) {
  body, html {
    font-size: 4.5vw;
  }
}
@media(min-width: 500px) {
  body, html {
    font-size: 16px;
  }
}
* {
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
body, html {
  width: 100%;
}
a {
  color: inherit;
  font-size: inherit;
}
a:not(.imgLink):active {
  background-color: #ded2cf;
}
a.imgLink {
  text-decoration: none;
}
blockquote {
  background-color: #f7efed;
  padding: 0.25em 1em;
  border-left: 3px solid #224a91;
}
code, kbd {
  font-family: courier new;
  color: #26282c;
}
code {
  word-wrap: break-word;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  background-color: white;
  padding: 0.125em;
}
input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  outline: none;
}
kbd {
  font-size: inherit;
  background-color: #f7efed;
  border-radius: 0.25em;
  border: 0.125em solid #aca1a1;
  box-shadow: 0 0 0.25em #aca1a1;
  padding: 0 0.25em;
  margin: 0 0.25em;
}
kbd::before {
  content: "\f11c";
  font-family: fontawesome;
  padding: 0 0.25em;
}
small {
  font-size: smaller;
}
small > *:not(small) {
  font-size: inherit;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1em; }
h5 { font-size: 0.75em; } 
h6 { font-size: 0.5em; }
hr {
  margin: 2em 0;
  border: none;
  background-color: #26282c;
  height: 0.125em;
}
hr.short {
  width: 15em;
}
p {
  margin: 1em 0;
}
ul, ol {
  padding: 0 1em;
}

/* generic classes */
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.desktop {
  display: none !important;
}
.right {
  display: block;
  text-align: right;
}
.smallText {
  color: #aca1a1;
  font-size: 0.75em;
}

/* main.handlebars layout details */
/* sidebar styles */
#sidebar a:not(.imgLink):active {
  background-color: black;
}
#condensedLogo {
  height: 0.75em;
  width: 0.75em;
}
#menuButton {
  display: inline-block;
  flex-shrink: 1;
  line-height: 1;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
  width: 2em;
  height: 2em;
}
#menuButton::before {
  font-family: fontawesome;
  content: "\f0c9";
}
#menuButton:active {
  background-color: black;
}
#sidebar.expanded #menuButton {
  height: auto;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-size: 1.5em;
}
#sidebar.expanded #menuButton::before {
  font-family: inherit;
  content: "Close Menu";
}
#mainSearchHint {
  max-height: 0;
  transition: max-height 0.5s, margin-bottom 0.5s;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0;
}
#mainSearchHint ul {
  margin: 1em 0;
}
#mainSearchHint li {
  margin: 0 1em;
}
#mainSearchHint.activated {
  max-height: 30em;
  margin-bottom: 2em;
}
.match {
  background-color: yellow;
}
#mobileTitle {
  font-size: 1em;
}
.navLink {
  display: none;
}
#sidebar.expanded .navLink {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
}
.shareIcon {
  font-size: 2em;
  padding: 0.25em;
  border-radius: 100%;
  transition: color, background-color 0.5s;
}
.shareIcon:hover {
  color: #f7efed;
}
.shareIcon:nth-of-type(1):hover{background-color: #f26522 !important;}
.shareIcon:nth-of-type(2):hover{background-color: #3b5998 !important;}
.shareIcon:nth-of-type(3):hover{background-color: #2290bf !important;}
.shareIcon:nth-of-type(4):hover{background-color: #db4935 !important;}
.shareIcons.content {
  text-align: left;
}
.shareIcons {
  margin-top: auto !important;
  flex-basis: 2em;
  text-align: center;
}
#sidebar {
  background-color: #26282c;
  color: #f7efed;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#sidebar.webApp {
  padding-top: 1em;
}
#sidebar.expanded {
  height: 100%;
  justify-content: flex-start;
  text-align: center;
}
#title {
  text-decoration: none !important;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 1;
  line-height: 1em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  height: 2em;
}
#sidebar.expanded #title {
  display: none;
}
#titleBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
#sidebar.expanded #titleBar {
  flex-grow: 1;
}
/* main content div styles */
#content {
  margin-top: 4em;
  flex-basis: 20em;
  flex-grow: 10;
  padding: 1em;
  overflow-y: auto;
}
#content.webApp {
  margin-top: 5em;
}
#content img {
  max-width: 100%;
  max-height: 50em;
  display: block;
  margin: 0 auto;
}
#content img[src*=".svg"] {
  width: 100%;
}

/* other template styles */
#authorHeader {
  background-color: #446cb3;
  width: calc(100% + 2em);
  margin: -1em 0 0 -1em;
  height: 20em;
  color: #f7efed;
  overflow: auto;
}
#authorPicture {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  background-color: white;
  margin: 3em auto 1em auto !important;
}
.authorViewPicture {
  height: 2em;
  width: 2em;
}
.pageControl {
  margin: 0 auto 2em auto;
  text-align: center;
}
#postAuthor {
  padding: 0.5em 0;
  font-weight: normal;
  font-size: 1em;
}
#postAuthorPicture {
  display: none !important;
}
.postListPostHeader {
  background-color: #ded2cf;
  width: calc(100% + 2em);
  padding: 1em;
  margin: -2em 0  0 -1em;
}
#postNumberContainer {
  padding: 0 auto 2em 0;
  text-align: center;
}
#postTitle {
  font-size: 1.5em;
}
.postView {
  padding: 2em 1em;
  margin: 1em 0;
  flex-shrink: 1;
  flex-basis: 100%;
  max-height: 20em;
  overflow-y: hidden;
  border: 1px solid #aca1a1;
  border-radius: 0.25em;
  transition: box-shadow 0.25s;
}
.postView:hover, .postView:active {
  box-shadow: 0 0 0.5em #aca1a1;
}
.postViewAuthorPicture {
  border-radius: 100%;
  height: 4em;
  width: 4em;
  float: left;
  margin: 0.125em 1em 0 0;
}
#postViews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
#quote {
  text-align: center;
  width: 75%;
  min-width: 20em;
  margin: 2em auto;
}
#quote > #circles {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center;
}
#quote > #circles > i {
  display: inline-block;
  margin: 0 0.5em;
}
#search {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2em;
}
#searchBar {
  flex-basis: 100%;
  min-width: 0;
  text-align: left;
  margin: 1em auto 0 auto;
  outline: none;
  font-size: 1.5em;
  padding: 0.67em;
  padding-right: 2.5em;
  border: 1px solid #aca1a1;
  border-radius: 0.125em;
  transition: box-shadow 0.25s;
}
#searchBar:hover, #searchBar:focus {
  box-shadow: 0 0 0.25em #aca1a1;
}
#searchIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  font-size: 2em;
  left: calc(100% - 1.5em);
  top: 2.25em;
  color: inherit;
  margin: -3em 0;
}
#searchString {
  margin: 0 auto 2em auto;
}
#searchType {
  flex-basis: 100%;
  font-size: 1.5em;
  padding: 0.67em;
  margin: 1em auto 0 auto;
  border: 1px solid #aca1a1;
  transition: box-shadow 0.25s;
  border-radius: 0.125em;
}
#searchType:hover {
  box-shadow: 0 0 0.125em #26282c;
}
.tag {
  background-color: #f7efed;  
  padding: 0.25em;
}
.tag::before {
  content: "\f02b";
  font-family: fontawesome;
  padding: 0 0.25em;
}
.tag.clickable:hover {
  cursor: pointer;
  background-color: #ded2cf;
}

/* comments */
#commentError {
  color: red;
}
#commentName, #commentText, #submitComment, .comment {
  width: 100%;
  border: 1px solid #ded2cf;
  margin-bottom: 0.5em;
  border-radius: 0.125em;
  padding: 0.5em;
  transition: border-color 0.2s;
}
#commentName:focus, #commentText:focus, #submitComment:hover {
  border-color: #aca1a1;
}
#commentText {
  height: 10em;
}
#submitComment {
  float: right;
  width: auto;
  background-color: #f7efed;
}
#submitComment:hover, #submitComment:focus {
  cursor: pointer;
  outline: none;
}
.comment * {
  margin: 1em;
}
#writeComment + .comment {
  margin-top: 4em;
}
.comment > .commentName {
  text-decoration: underline;
}
.comment > .commentDate {
  display: inline-block;
  float: right;
  font-size: smaller;
  color: #26282c;
}
