/* color guide
 - light blue: #446cb3
 - blue:       #224a91
 - dark blue:  #113980
 - near white: #f7efed
 - white-grey: #ded2cf
 - light grey: #aca1a1
 - dark grey:  #26282c
*/

/* general styles */
@media(max-width: 499px) {
  * {
    font-size: 4.5vw;
  }
}
@media(min-width: 500px) {
  * {
    font-size: 16px;
  }
}
* {
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
  padding: 0;
  margin: 0;
}
body, html {
  width: 100%;
}
a {
  color: inherit;
  font-size: inherit;
}
a:not(.imgLink):active {
  background-color: #ded2cf;
}
a.imgLink {
  text-decoration: none;
}
code, kbd {
  font-family: courier new;
}
code {
  background-color: #aca1a1;
  padding: 0.125em;
}
kbd {
  font-size: inherit;
  background-color: #f7efed;
  border-radius: 0.25em;
  border: 0.125em solid #aca1a1;
  box-shadow: 0 0 0.25em #aca1a1;
  padding: 0 0.25em;
  margin: 0 0.25em;
}
small {
  font-size: smaller;
}
small > *:not(small) {
  font-size: inherit;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1em; }
h5 { font-size: 0.75em; } 
h6 { font-size: 0.5em; }
hr {
  margin: 2em 0;
  border: none;
  background-color: #26282c;
  height: 0.125em;
}
hr.short {
  width: 15em;
}
p {
  margin: 1em 0;
}
ul {
  padding: 0 1em;
}

/* generic classes */
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.right {
  display: block;
  text-align: right;
}

/* main.handlebars layout details */
/* sidebar styles */
#sidebar {
  background-color: #26282c;
  color: #f7efed;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#sidebar.webApp {
  padding-top: 1em;
}
#sidebar.expanded {
  height: 100%;
  justify-content: flex-start;
  text-align: center;
}
#titleBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
#title {
  text-decoration: none !important;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 1;
  line-height: 1em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  height: 2em;
}
#desktopTitle {
  display: none;
  font-size: inherit;
}
#mobileTitle {
  font-size: 1em;
}
#condensedLogo {
  height: 1.5em;
  width: 1.5em;
}
#logo, .sidebarList, .navLink {
  display: none;
}
#sidebar.expanded #titleBar {
  flex-grow: 1;
}
#sidebar.expanded #title {
  display: none;
}
#sidebar.expanded #menuButton {
  height: auto;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-size: 1.5em;
}
#sidebar.expanded #menuButton::before {
  content: "\00d7  Close Menu";
}
#sidebar.expanded .navLink {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
}
#menuButton {
  display: inline-block;
  flex-shrink: 1;
  line-height: 1;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
  width: 2em;
  height: 2em;
}
#menuButton::before {
  content: "\2630";
}
#menuButton:active {
  background-color: black;
}
.date {
  color: #aca1a1;
  font-size: 0.75em;
}
#sidebar a:not(.imgLink):active {
  background-color: black;
}
/* main content div styles */
#content {
  margin-top: 4em;
  flex-basis: 20em;
  flex-grow: 10;
  padding: 1em;
  overflow-y: auto;
}
#content.webApp {
  margin-top: 5em;
}

/* author template styles */
#authorHeader {
  background-color: #446cb3;
  width: calc(100% + 2em);
  margin: -1em 0 0 -1em;
  height: 20em;
  color: #f7efed;
  overflow: auto;
}
#authorPicture {
  border-radius: 100%;
  width: 10em;
  height: 10em;
  background-color: white;
  margin: 3em auto 1em auto;
}
#postViews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
.postView {
  box-shadow: 0 0 0.125em #26282c;
  padding: 2em 1em;
  margin: 1em 0;
  flex-shrink: 1;
  flex-basis: 100%;
  max-height: 20em;
  overflow-y: hidden;
}
.postView:hover, .postView:active {
  box-shadow: 0 0 1em #113980;
}
.postViewAuthorPicture {
  border-radius: 100%;
  height: 4em;
  width: 4em;
  float: left;
  margin-right: 1em;
}
.authorViewPicture {
  height: 3em;
  width: 3em;
}

/* post template styles */
#postAuthorPicture {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  float: left;
  margin-right: 1em;
}

/* post list / search template styles */
#searchBar {
  text-align: left;
  width: 90%;
  margin: 1em auto;
  outline: none;
  font-size: 1.5em;
  padding: 0.67em;
  border: none;
  box-shadow: 0 0 0.125em #26282c;
}
#searchBar:hover, #searchBar:focus {
  box-shadow: 0 0 0.5em #113980;
}
#searchString {
  margin: 2em auto;
}
