<div id="postViews">
  {{#each authorList}}
    <a class="imgLink postView" href="/authors/{{filename}}">
      <div class="postListPostHeader">
        <img src="{{profilePicture}}" class="postViewAuthorPicture authorViewPicture">
        <h2>{{name}}</h2>
      </div>
      <p>{{{previewDescription}}}</p>
    </a>
  {{/each}}
</div>
