<div class='container desktop-start'>
  <h1>I'm Jonathan Lam. Nice to meet you.</h1>
  <p>Welcome to Everything is Sheep (EiS)! I'm a programmer. Mathematician. Coder. Brother. Bowler. Cuber. And very soon a college student.</p>
  <p>This is my literary and programming blog. If you want to learn more about me, you can visit my general website at <a href='http://www.jonlamdev.com/' target='_blank'>jonlamdev.com</a>.</p>
  <p>If not, let's get started! <a href='/posts'>See the list of posts.</a></p>

  <br><br>
  <p>(This homepage is a work in progress. Scroll down for the old content.)</p>
  <p style='height: 100em'></p>

  <h1>Welcome to Everything is Sheep (EiS)!</h1>
  <br>

  <a id="prolegomenon"><h3><a href="https://en.wiktionary.org/wiki/prolegomenon" title="Look it up!">Prolegomenon</a></h3></a>
  <p>Welcome to a playground for free-form teenage writing, delivered straight to you from two Lam(b)s and an anonymous ninja-fledgling via the <a href="https://xkcd.com/181/" title="xkcd says it's a word">Interblag</a>. This is the direct successor of <a href="http://www.thehomeworklife.co.nf/" title="The Homework Life: The joys and pains of a high-school career">The Homework Life</a>. Check out Jon's personal site at <a href="http://jonathanlam.tech">jonathanlam.tech</a>.</p>
  <p>To get started, click on one of the recent posts on the left, <a href="/posts" title="View all posts">view a list of all posts</a>, or <a href="/authors" title="View all authors">view a list of all authors</a>.</p>
  <p>This is an open forum for writing of all kinds to help improve our ninja persuasive and explanatory skills with which we rising ninjas will take over the world. If you have any questions, would like to submit a bug report, suggest changes, comment some amazing praise, contribute to the blog, or contact us for any other reason, contact the head ninja at his email: <a href="mailto:jonathanlamdev@gmail.com" title="Send an email to jonathanlamdev@gmail.com">jonathanlamdev@gmail.com</a>.</p>
  <p>If you are viewing this blog not between the hours of 6:00A.M. and 6:00P.M. ET and experienced a delay when first opening this page, don't panic. I am using Heroku's free web-hosting service for Node.JS, which automatically shuts down with inactivity. If you'd like to donate to this blog to get rid of that delay, feel free to contact me.</p>
  <p>p.s.: Don't ask about the title. There's really no meaning behind it.</p><br>

  <a id="features"><h3>Blog Features</h3></a>
  <p>In case you missed the extra features! This homepage serves as a de facto About page, so here are some cool features and technical details.</p>
  <ul>
    <li><strong>iOS standalone web-app support</strong>: Download this blog as a web-app on an Apple mobile device. See instructions <a href="https://www.maketecheasier.com/save-web-page-as-home-screen-app-ios/" title="Web-app instructions">here</a>.</li>
    <li><strong>RSS feed</strong>: Add this blog to your favorite RSS feed reader. Just copy the link in the sidebar to always stay up-to-date with the blog's latest content.</li>
  </ul>
  <br><br>

  <a id="changelog"><h3>Changelog</h3></a>
  <br>
  <ul>
    <li><strong>Release 1</strong> (07/31/17): First release. Basic blog functionality.
      <ul>
        <li><strong>1.0 (The Birthy Update, 07/27/17):</strong> Includes basic blog workings, such as: a post generator (w/ JSON metadata and Markdown posts with Showdown MD-to-HTML converter), a templating engine (Handlebars), a cool backend (Node.js w/ Express), quick free hosting (Heroku), a search bar, RWD (mobile and desktop versions), a basic logo, an RSS feed, iOS standalone web-app capability, and basic routing info (e.g., index.html homepage and 404 page).</li>
        <li><strong>1.1 (The Basics Update):</strong> Introducing less-important but still desirable blog features. Includes FontAwesome support, post tags/categories, social media buttons, hitcount, improved title-text descriptions for links, improved internal templating data injection, code cleanup from sidebar cleanup. Major sidebar and index.html revamp.
          <ul>
            <li><strong>1.1.1</strong> (07/28/17): Introduced convenience/visual changes: FA, social media buttons, post tags, searching by post tags, and title-text descriptions.</li>
            <li><strong>1.1.2</strong> (07/29/17): Major visual overhaul to sidebar and index.html. On desktop sidebar, added search bar with search hint, removed logo to remove clutter, turned authors into link instead of list, added short description. On index.html, added changelog, blog features, "prolegomenon" section.</li>
            <li><strong>1.1.3</strong> (07/30/17): Internal cleanup changes: send less data to templates to improve load time, made mobile/desktop RWD more robust with CSS classes, and cleaned up CSS. Also added quote generator, search highlighting, and search hint to main post search bar features.</li>
            <li><strong>1.1.4</strong> (07/31/17): Internal feature addition: post sorting in the /search/ and /post/ directories, cleaned up routing to those views, added support for named anchor tags, and updated internal dates to RFC 2822 specifications for easier conversion to feed.</li>
            <li><strong>1.1.5</strong> (11/19/17): Fixed page hit-counter by associating with PG DB, incorporated THL blog posts.</li>
          </ul>
        </li>
        <li><strong>1.2 (The Techy Update)</strong> Improving site experience for the user and behind-the-scenes upgrades. Includes more manageable post list, fixed inconsistent margins, cleaner styles, removal of unnecessary elements, and a comments section.
          <ul>
            <li><strong>1.2.0</strong> (12/22/17): Shortened post lists to 10 per page, simplified code block styles, buffed up blockquote styles, removed extra elements in file metadata for mobile, and fixed elements that were over the full width of their containers. Imported all THL posts.</li>
            <li><strong>1.2.1</strong> (2/20/18) Added comments section (vanilla, no login), easier navigation between adjacent posts with handy links.</li>
            <li><strong>1.2.2</strong> (???) (<strong>upcoming release</strong>): Cleaning up server-side code, improving security where possible, buffering DB calls.</li>
          </ul>
        </li>
        <li><strong>1.3 (The Pretty Update):</strong> Pictures and cleaning up. You wanted this from the very beginning.
          <ul>
            <li><strong>1.3.0</strong> (5/11/18) (<strong>current release</strong>): Beautifying! Changing the colors, font, sizings to make the site more usable, subtle, and beautiful.</li>
            <li><strong>1.3.1</strong> (???) (<strong>upcoming release</strong>): Post images, less clutter in post header and on main page. Potentially animations and a change of font. Perhaps colors?</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <br><br>

  <h3 class="mobile no-print">Share us!</h3>
  <div class="shareIcons mobile content no-print">
    <a href="/feed.xml" class="shareIcon" title="Subscribe to RSS feed"><i class="fa fa-rss fa-fw"></i></a>
    <a class="shareIcon" title="Share on Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
    <a class="shareIcon" title="Tweet this"><i class="fa fa-twitter fa-fw"></i></a>
    <a class="shareIcon" title="Print article" href><i class="fa fa-print fa-fw"></i></a>
  </div>
</div>
