<h1>Welcome to Everything is Sheep (EiS)!</h1>
<br>

<h3><a href="https://en.wiktionary.org/wiki/prolegomenon" title="Look it up!">Prolegomenon</a></h3>
<p>Welcome to a playground for free-form teenage writing, delivered straight to you from two Lam(b)s and an anonymous ninja-fledgling via the <a href="https://xkcd.com/181/" title="xkcd says it's a word">Interblag</a>.</p>
<p>To get started, click on one of the recent posts on the left, <a href="/posts" title="View all posts">view a list of all posts</a>, or <a href="/authors" title="View all authors">view a list of all authors</a>.</p>
<p>This is an open forum for writing of all kinds to help improve our ninja persuasive and explanatory skills with which we rising ninjas will take over the world. If you have any questions, would like to submit a bug report, suggest changes, comment some amazing praise, contribute to the blog, or contact us for any other reason, contact the head ninja at his email: <a href="mailto:jonathanlamdev@gmail.com" title="Send an email to jonathanlamdev@gmail.com">jonathanlamdev@gmail.com</a>.</p>
<p>p.s.: Don't ask about the title. There's really no meaning behind it.</p><br>

<h3>Blog Features</h3>
<p>In case you missed the extra features! This homepage serves as a de facto About page, so here are some cool features and technical details.</p>
<ul>
  <li><strong>iOS standalone web-app support</strong>: Download this blog as a web-app on an Apple mobile device. See instructions <a href="https://www.maketecheasier.com/save-web-page-as-home-screen-app-ios/" title="Web-app instructions">here</a>.</li>
  <li><strong>RSS feed</strong>: Add this blog to your favorite RSS feed reader. Just copy the link in the sidebar to always stay up-to-date with the blog's latest content.</li>
</ul>
<br><br>

<h3>Changelog</h3>
<br>
<ul>
  <li><strong>Release 1.0.0</strong> (07/29/17): First release. Basic blog functionality.
    <ul>
      <li><strong>1.0.0</strong> (07/27/17): Includes basic blog workings, such as: a post generator (w/ JSON metadata and Markdown posts with Showdown MD-to-HTML converter), a templating engine (Handlebars), a cool backend (Node.js w/ Express), quick free hosting (Heroku), a search bar, RWD (mobile and desktop versions), a basic logo, an RSS feed, iOS standalone web-app capability, and basic routing info (e.g., index.html homepage and 404 page).</li>
      <li><strong>1.1.0</strong> (07/29/17): Introducing less-important but still desirable blog features. Planned updates: FontAwesome support, post tags/categories, social media buttons, hitcount, improved title-text descriptions for links, improved internal templating data injection, code cleanup from sidebar removal.
        <ul>
          <li><strong>1.1.1</strong> (07/28/17): Introduced convenience/visual changes: FA, social media buttons, post tags, searching by post tags, and title-text descriptions.</li>
          <li><strong>1.1.2</strong> (07/29/17) (<strong>current release</strong>): Internal cleanup changes: Send less data to templates to improve load time, made mobile/desktop RWD more robust with CSS classes, and cleaned up CSS. Also added quote generator.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br><br>

<h3 class="mobile">Share us!</h3>
<div class="shareIcons mobile content">
  <a href="/feed.xml" class="shareIcon" title="Subscribe to RSS feed"><i class="fa fa-rss fa-fw"></i></a>
  <a class="shareIcon" title="Share on Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
  <a class="shareIcon" title="Tweet this"><i class="fa fa-twitter fa-fw"></i></a>
  <a class="shareIcon" title="Share on Google+"><i class="fa fa-google-plus fa-fw"></i></a>
</div>
