<h1>Welcome to Everything is Sheep (EiS)!</h1>

<br>
<h3><a href="https://en.wiktionary.org/wiki/prolegomenon" title="Look it up!">Prolegomenon</a></h3>

<p>Welcome to a playground for free-form teenage writing, delivered straight to you from two Lam(b)s and an anonymous ninja-fledgling via the <a href="https://xkcd.com/181/" title="xkcd says it's a word">Interblag</a>.</p>

<p>This is an open forum for writing of all kinds to help improve our ninja persuasive and explanatory skills with which we rising ninjas will take over the world. If you have any questions, would like to submit a bug report, suggest changes, comment some amazing praise, contribute to the blog, or contact us for any other reason, contact the head ninja at his email: <a href="mailto:jonathanlamdev@gmail.com" title="Send an email to jonathanlamdev@gmail.com">jonathanlamdev@gmail.com</a>.</p>

<p>p.s.: Don't ask about the title. There's really no meaning behind it.</p>

<h3>Changelog</h3>

<p>Because this homepage serves as a de facto About page, here are some technical details.</p>

<ul>
  <li><strong>Release 0.0.2</strong> (coming soon): Introducing less-important but still desirable blog features. Planned updates: FontAwesome support, post tags/categories, social media buttons, hitcount, improved title-text descriptions for links, improved internal templating data injection, code cleanup from sidebar removal.</li>
  <li><strong>Release 0.0.1</strong> (07/27/17) (<strong>current</strong>): First release. Includes basic blog workings, such as: a post generator (w/ JSON metadata and Markdown posts with Showdown MD-to-HTML converter), a templating engine (Handlebars), a cool backend (Node.js w/ Express), quick free hosting (Heroku), a search bar, RWD (mobile and desktop versions), a basic logo, an RSS feed, and basic routing info (e.g., index.html homepage and 404 page).</li>
</ul>
